@import '~bootstrap/scss/bootstrap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    height: 400px;
}

li:hover {
    color: #0d6efd;
    cursor: pointer;
}

li,
a {
    font-weight: 900;
}

a {
    text-decoration: none;
}

img:hover {
    border: 1px solid #0d6efd;
}