@import '~bootstrap/scss/bootstrap';

.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    height: 400px;
}

li:hover {
    color: #0d6efd;
    cursor: pointer;
}

li {
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}